*{padding:0;margin:0;}
body,html {height:100%; -webkit-tap-highlight-color:transparent background:#FFF; }
p{word-wrap:break-word; word-break:normal;color:#b7b7b7;font-size:14px; }
h1,h2,h3,h4,h5,h6{word-wrap:break-word; word-break:normal; }
body {font-family:'Microsoft YaHei','å¾®è½¯é›…é»‘',-apple-system-font,Helvetica Neue,Helvetica,sans-serif; }
ul {list-style:none }
.reset {padding: 0; margin:0; }
.fs14{font-size: 14px;}
.pt15{padding-top:15px; }
.pt65{padding-top:65px;}
.pb15{padding-bottom:15px;}
.width-fill{width:100%;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.mb20{margin-bottom:20px;}
.mr15{margin-right:15px;}
.mt15{margin-top:15px;}
.mb15{margin-bottom:15px;}
.mt20{margin-top:20px;}
.pb25{padding-bottom:25px;}
.bgc-e34218{background-color: #e34218}
.f-right{float: right;}
.f-left{float: left;}
.border-bottom {position: relative;}
.readmore {float: right; background: none; color:#ccc; }
.h-center {text-align: center;justify-content: center;j}
.v-center{justify-content:center;}

#header .weui-flex__item{ border-left: 1px solid #ccc;border-right: 1px solid #ccc;text-align: center;}
#header{border-bottom: 1px solid #ccc;}
#slide .swiper-pagination-bullet {border:1px solid #fff; margin-right:10px; opacity: 1; background-color: inherit; }
#slide .swiper-pagination-bullet-active {background: #fff; }

#pro-grids .weui-grid:before{border:none;}
#pro-grids .weui-grid:after{border:none;}
#pro-grids .weui-grids:before{border:none;}
#pro-grids .weui-grids:after{border:none;}
#pro-grids{border-bottom:1px solid #ccc;}
.case-list{border-top:15px solid #efefef;margin-top:0;padding:20px 15px;}
.case-list{border-bottom:1px solid #ccc;}
.case-list .weui-cells:after {border: none; }
.case-list .weui-cells:before{border:none;}
.case-list .weui-cell:before{border:none;}
.case-list h3{margin-top:10px;color:#f46837;}
.case-list p {margin-top:10px;color:#c1c1c1;}
.orelink{padding:0 !important;height:15em !important;display:block;overflow:hidden;position:relative; margin:0 !important;}
.orelink .shadow {background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.orelink span{position: absolute; top: 40%; left: 5%; text-align: center; color:#fff; width:90%; }
.orelink span.title{top:20%; font-size: 25px; }
.about{border-top:15px solid #efefef;}

.news-list{border-top:15px solid #efefef;margin-top:0;padding:20px 15px;}
.news-list .weui-media-box_appmsg .weui-media-box__hd{width: 40%; height: auto; }
.news-list .weui-media-box:before{left:0;border:none;}
.news-list .weui-panel:after{border:none;}
.news-list h4{color:#f46837;}
.news-list span{color:#ccc;}
.news-list p {margin-top:20px;color:#c1c1c1;}
.news-list .weui-panel:after, .weui-panel:before {border:none; }
.news-list .more {border:1px solid #f46837; padding:5px; color:#f46837;}
#news-content{padding :30px 15px 0px;}
.news-title{color:#494748;}
.news-time{color:#b8b8b8;}
.news-text{color:#b7b7b7;}
.about-zenith-case{margin-top:0;padding: 0 15px;}
.about-zenith-case p{margin-bottom:25px; word-break:break-all;display:block;}
.btn{ text-align: center; display: inline-block; background-color:#f14d10; color:#fff; font-size:12px; padding:6px 22px;}

.form{padding:0 15px 30px 15px;border-top:15px solid #efefef;}
.form .weui-btn-area{margin:25px 0 5px;}
.weui-cells:before{border:none;}
.weui-cells:after{border:none;}
.service {padding: 0 15px;}
.service .circle{-webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%;width:80px;height:80px;line-height: 80px;color:#fff; }
.service-area{}
.service p{color:#b7b7b7;}
.service .bg-img-investigation{background: url(../images/icon_nav_button.png) no-repeat center 5px;}

.contact-address{padding:20px 15px;}
.contact-areas{border-top:15px solid #efefef;padding:20px 15px;}
.contact-areas .bg-img-dubai{background:url(../images/icon_nav_button.png) 0  center no-repeat;padding-left:80px;}
.offices-map{width:100%; position: relative; top:0; left:0; margin-bottom:20px;}
.offices-map .map{width:100%; height: auto;}
.office-info{ position: absolute;}
.mapIco{background:url(../images/contact/mapicon.png) center center no-repeat; cursor:pointer; width:11px; height:15px; float: left;}
.info{display:none; background:url(../images/contact/infobg.png) left center no-repeat; width:200px; height:51px; margin-top:-18px; float:left; position:relative; z-index:1;}
.info img, .info .img{height:31px; float:left; padding:10px 6px 0 16px;}
.info p{color: #333; font-family:Arial; font-size:14px; padding-top:4px;}
.info p span{display: block; font-weight: bold;}
.russian{top:18.67%;left:74.65%;}
.algeria{top:42.67%; left:47.2%;}
.saudi-arabia{top:44.33%; left:57.17%;}
.india{top:45.67%; left:67.66%;}
.dubai{top:46%; left:61.36%;}
.vietnam{top:47.66%; left:74.82%;}
.nigeria{top:54%; left:48.95%;}
.ghana{top:54.33%; left:46.15%;}
.philippines{top:55%; left:80.24%;}
.malaysia{top:58%; left:76.92%;}
.kenya{top:59%; left:56.29%;}
.indonesia{top:59.33%; left:77.79%;}
/*contact us end*/


.product-select {padding-left:40%;}
.product-select:after{
    content: " ";
    display: inline-block;
    height: 6px;
    width: 6px;
    border-width: 0 2px 2px 0;
    border-color: #b6b6de;
    border-style: solid;
    -webkit-transform: matrix(.71,.71,-.71,.71,0,0);
    transform: matrix(.71,.71,-.71,.71,0,0);
    position: relative;
    top: -2px;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -4px;
}
.product-list .weui-media-box_appmsg .weui-media-box__hd{ height: auto; }
.product-list .weui-media-box:before{left:0;border:none;}
.product-list .weui-panel:after{border:none;}
.about-zenith-case .weui-media-box:before {border:none;}
.title-bar{background: #f7f7f7 url(../images/icon_nav_button.png) no-repeat 15px 0px ; background-size:2.3em 2.3em; height: 2.3em; line-height: 2.3em; text-align: center; color: #494748; }
#footer .weui-footer{background-color: #3d4457;height:45px;line-height: 45px} 
.border-top:before{content: " "; position: absolute; left: 0; top:0; right: 0; height: 1px; color: #e5e5e5; border-bottom: 1px solid #e5e5e5; }
.border-bottom:after{content: " "; position: absolute; left: 0; right: 0; height: 1px; color: #e5e5e5; bottom: 0; border-bottom: 1px solid #e5e5e5; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: scaleY(.5); transform: scaleY(.5); }
.border-all-solid {border:1px solid #ccc;}
.border-all-dashed {border:1px dashed #ccc;}
.border-clear{border: none;}