*{padding:0;margin:0;}
body,html {
	height:100%;
	-webkit-tap-highlight-color:transparent
	background:#FFF;
}
body {
	font-family:'Microsoft YaHei','微软雅黑',-apple-system-font,Helvetica Neue,Helvetica,sans-serif;
}
ul {
	list-style:none
}
#header{width:100%;}
#header .weui-flex__item{ border-left: 1px solid #ccc;border-right: 1px solid #ccc;text-align: center;}
#content{width:100%;}
#slide{width:100%;}
#slide img{width:100%;}
#slide .swiper-pagination-bullet {
    border:1px solid #fff;
    margin-right:10px;
    opacity: 1;
    background-color: inherit;
}
#slide .swiper-pagination-bullet-active {
    
    background: #fff;
}
.mt15{margin-top:15px;}
#pro-grids .weui-grid:before{border:none;}
#pro-grids .weui-grid:after{border:none;}
#pro-grids .weui-grids:before{border:none;}
#pro-grids .weui-grids:after{border:none;}
#pro-grids{border-bottom:1px solid #ccc;}
.case-list img{width:100%;}
.case-list{border-top:15px solid #efefef;margin-top:0;padding:20px 15px;}
#footer{width:100%;}
#footer .weui-footer{background-color: #3d4457;height:35px;line-height: 35px} 