*{padding:0;margin:0;}
body,html {height:100%; -webkit-tap-highlight-color:transparent background:#FFF; }
p{word-wrap:break-word; word-break:normal; }
h1,h2,h3,h4,h5,h6{word-wrap:break-word; word-break:normal; }
body {font-family:'Microsoft YaHei','微软雅黑',-apple-system-font,Helvetica Neue,Helvetica,sans-serif; }
ul {list-style:none }
.reset {padding: 0; margin:0; }
.pt15{padding-top:15px; }
.width-fill{width:100%;}
.pt20{padding-top:20px;}
.pb20{padding-bottom:20px;}
.mb20{margin-bottom:20px;}
.mt15{margin-top:15px;}
.pb25{padding-bottom:25px;}
.f-right{float: right;}
.f-left{float: left;}
.readmore {float: right; background: none; color:#ccc; }
.h-center {text-align: center;}


#header .weui-flex__item{ border-left: 1px solid #ccc;border-right: 1px solid #ccc;text-align: center;}
#header{border-bottom: 1px solid #ccc;}
#slide .swiper-pagination-bullet {border:1px solid #fff; margin-right:10px; opacity: 1; background-color: inherit; }
#slide .swiper-pagination-bullet-active {background: #fff; }

#pro-grids .weui-grid:before{border:none;}
#pro-grids .weui-grid:after{border:none;}
#pro-grids .weui-grids:before{border:none;}
#pro-grids .weui-grids:after{border:none;}
#pro-grids{border-bottom:1px solid #ccc;}
.case-list{border-top:15px solid #efefef;margin-top:0;padding:20px 15px;}
.case-list{border-bottom:1px solid #ccc;}
.case-list .weui-cells:after {border: none; }
.case-list .weui-cells:before{border:none;}
.case-list .weui-cell:before{border:none;}
.case-list h3{margin-top:10px;color:#f46837;}
.case-list p {margin-top:10px;color:#c1c1c1;}
.orelink{padding:0 !important;height:15em !important;display:block;overflow:hidden;position:relative; margin:0 !important;}
.orelink .shadow {background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.orelink span{position: absolute; top: 40%; left: 5%; text-align: center; color:#fff; width:90%; }
.orelink span.title{top:20%; font-size: 25px; }
.about{border-top:15px solid #efefef;}

.news-list{border-top:15px solid #efefef;margin-top:0;padding:20px 15px;}
.news-list .weui-media-box_appmsg .weui-media-box__hd{width: 40%; height: auto; }
.news-list .weui-media-box:before{left:0;border:none;}
.news-list .weui-panel:after{border:none;}
.news-list h4{color:#f46837;}
.news-list span{color:#ccc;}
.news-list p {margin-top:20px;color:#c1c1c1;}
.news-list .weui-panel:after, .weui-panel:before {border:none; }
.news-list .more {border:1px solid #f46837; padding:5px; color:#f46837;}

.about-zenith-case{margin-top:0;padding:0 30px;}
.about-zenith-case p{margin-bottom:32px; word-break:break-all;display:block;}
.btn{ text-align: center; display: inline-block; background-color:#f14d10;margin-bottom:20px; color:#fff; font-size:12px; padding:6px 22px;}
.about-zenith-case .in-block{display:inline-block; padding:25px 0 20px 0;}

.title-bar{background: #f7f7f7 url(../images/icon_nav_button.png) no-repeat 15px 0px ; background-size:2.3em 2.3em; height: 2.3em; line-height: 2.3em; text-align: center; color: #494748; }
#footer .weui-footer{background-color: #3d4457;height:45px;line-height: 45px} 
.border-top:before{content: " "; position: absolute; left: 0; top:0; right: 0; height: 1px; color: #e5e5e5; border-bottom: 1px solid #e5e5e5; }
.border-bottom:after{content: " "; position: absolute; left: 0; right: 0; height: 1px; color: #e5e5e5; bottom: 0; border-bottom: 1px solid #e5e5e5; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; -webkit-transform: scaleY(.5); transform: scaleY(.5); }
.border-clear{border: none;}